*.svn
*.log
idea
*.idea
*.idea_modules 
*.iml
*.ipr
*.iws
target
docs
orbroker-org
settings.xml
*.bak
*.pem
*.class
##jdbc-wrapper/src/test/scala/bo
common-webapp/src/main/resources/webapp/javascript/generated/
isc-components/src/main/resources/webapp/javascript/generated/
saxon-wrapper/lib/
