<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->
  <property name="LOG_HOME" value=""/>

  <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <append>false</append>
    <file>${LOG_HOME}/isc-wrapper-test.html</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>-->


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>-->
      <pattern>%d{HH:mm:ss.SSS} [%t] %-5p %logger{255} - %msg%n</pattern>
      <!--<pattern>%date [%thread] %highlight(%-5level) %cyan(%-15logger{15}) %X - %msg %n</pattern>-->
    </encoder>
  </appender>

  <logger name="com.simplesys.json.JsonObject" level="warn"/>
  <logger name="com.simplesys.json.JsonList" level="warn"/>
  <logger name="com.simplesys.isc.control.menu.MenuItemDyn" level="debug"/>
  <logger name="com.simplesys.isc.control.MenuItemsArray" level="debug"/>
  <logger name="com.simplesys.isc.system.IscDyn" level="debug"/>
  <logger name="com.simplesys.isc.system.ClassDyn" level="debug"/>
  <logger name="com.simplesys.isc.RPC.TransactionDyn" level="debug"/>
  <logger name="com.simplesys.isc.grids.treeGrid.IscArray[TreeNode]" level="debug"/>
  <logger name="com.simplesys.isc.grids.treeGrid.TreeNodeDyn" level="debug"/>
  <logger name="com.simplesys.isc.grids.treeGrid.TreeNodesList" level="debug"/>
  <logger name="com.simplesys.isc.grids.IscArray[ListGridRecord]" level="debug"/>
  <logger name="com.simplesys.isc.grids.ListGridRecordDyn" level="debug"/>
  <logger name="com.simplesys.isc.grids.IscArray[ListGridField]" level="debug"/>
  <logger name="com.simplesys.isc.grids.listGrid.ListGridFieldDyn" level="debug"/>
  <logger name="com.simplesys.isc.system.PageDyn" level="debug"/>
  <logger name="com.simplesys.isc.templates.LogJavaScript" level="trace"/>
  <logger name="com.simplesys.isc.system.IscDyn" level="trace">
    <!--<appender-ref ref="FILE"/>-->
  </logger>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>